body {
  background-color: rgba(240, 232, 232, 0.671);
  /* overflow: auto; */
  align-items: center;
  align-content: center;
  flex-direction: column;
}
#firstSection {
  margin-top: 3rem;
}
.scroll {
  position: sticky;
  top: 100px;
  width: 100%;
  background: darkgray;
}
.scroll2 {
  position: sticky;
  top: 130px;
  width: 100%;
  background: wheat;
}
.scroll3 {
  position: sticky;
  top: 170px;
  width: 100%;
  background: black;
}

section {
  background-color: white;
  align-content: center;
  align-items: justify;
  padding: 3rem;
}
#secondSection {
  margin-top: 5rem;
}
#thirdSection {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.header {
  text-align: center;
  padding-top: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(240, 232, 232);
  z-index: 10;
  height: 100px;
}
/* @media (max-width: 768px) {
  section {
    padding: 1rem;
  }
} */
.container-fluid {
  position: relative;
}
